{#
/**
 * @file wechat_user.html.twig
 * Default theme implementation to present Wechat user data.
 *
 * This template is used when viewing Wechat user pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wechat_user()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wechat_user') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
